.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 30px 1fr 30px;
}

.main {
  overflow-y: scroll;
}

.header {
  background-color: black;
  color: white;
}

.footer {
  background-color: black;
  color: white;
}
