.tag {
  margin: 0 5px 3px 0;
  display: inline-block;
  background: #d1d0d0;
  padding: 0 12px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  font-size: 13px;
  cursor: pointer;
}
.tag:hover {
  opacity: 0.3;
}
.tagSelected {
  background: rgb(41, 41, 148);
}
.tagSelected:hover {
  opacity: 0.3;
}
.tags {
  padding: 12px 0;
}
